apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: ecommerce
  annotations:
    argocd.argoproj.io/sync-wave: "2" 
  labels:
    app: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: postgres
  clusterIP: None # Headless service for StatefulSet
