/services/frontend-service/.next
/services/frontend-service/node_modules
/services/product-service/app/__pycache__
/services/user-service/app/__pycache__
/services/user-service/venv
/infrastructure/terraform/gcp/.terraform
