apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: docker.io/samvidocker/ecommerce-frontend-service
    newTag: latest  # This will be updated by Image Updater