apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: ecommerce
  annotations:
    argocd.argoproj.io/sync-wave: "5" 
  labels:
    app: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app: redis
